/* ----------------- FONTES -------------------- */



@font-face {
    font-family: 'geist';
    src: url('/fontes/Geist/Geist-1.3.0/Geist-1.3.0/statics-otf/Geist-UltraBlack.otf') format('opentype'),
        url('/fontes/Geist/Geist-1.3.0/Geist-1.3.0/statics-ttf/Geist-UltraBlack.ttf') format('ttf');
    /* url('fonts/MyCustomFont.otf') format('opentype'); */
    /* font-weight: normal;
    font-style: normal; */
}

@font-face {
    font-family: 'yeager';
    src: url('/fontes/Yeager/Yeager-Bold.otf') format('opentype');

    /* url('fonts/MyCustomFont.otf') format('opentype'); */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kouzan';
    src: url('/fontes/jap/kouzan.otf') format('opentype');
    /* url('fonts/MyCustomFont.otf') format('opentype'); */
    font-weight: normal;
    font-style: normal;
}


/* ----------------- PROPS -------------------- */
@property --cor-color {
    syntax: "<color>";
    inherits: true;
    initial-value: rgb(226, 48, 206);
}

@property --ang-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}


.container {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

/* ----------------- Primeira sessao -------------------- */

.sub_container:nth-child(1) {
    width: 100%;
    /* background-color: #E7E5D9; */
    position: relative;
    background-color: #fcfdf5;
    height: 100vh;
    padding-left: 15vw;
    padding-top: 10vw;
    gap: 4vw;
    /* clip-path: path("M0,500L60,480C120,460,240,420,360,440C480,460,600,500,720,500C840,500,960,460,1080,460C1200,460,1320,500,1380,520L1440,540L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"); */


    &>div {
        display: flex;
        align-items: center;
        position: relative;
        padding: 1vw;

    }

    & h1 {
        width: 30vw;
        font-size: 2.5vw;
        font-family: 'geist';
        text-transform: uppercase;
        z-index: 2;
        background-color: transparent;
        content: 's';
        animation: desenhoAparece 1s cubic-bezier(0.33, 0, 0.67, 1) forwards;
        animation-delay: 600ms;
        opacity: 0;


    }

    &>div div div {

        width: 14.8vw;
        border-radius: 2px;
        padding-left: 0.5vw;
        background-color: #c03654;
        animation: desenhoAparece 1s cubic-bezier(0.33, 0, 0.67, 1) forwards;
        animation-delay: 600ms;
        opacity: 0;
        /* animação em conflito com blibioteca GSAP */
        /* animation:  sublinhaTitulo linear both;
        animation-timeline: view(5% 5%); */

    }

    & p {
        font-size: 2vw;
        animation: desenhoAparece 1s cubic-bezier(0.33, 0, 0.67, 1) forwards;
        animation-delay: 600ms;
        opacity: 0;

    }

}

/* .sub_container:nth-child(1)::after{
    position: absolute;
    content: '';
    clip-path: path("M0,160L60,180C120,200,240,240,360,220C480,200,600,160,720,160C840,160,960,200,1080,200C1200,200,1320,160,1380,140L1440,120L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z");;
    background-color: red;
    width: 100%;
    z-index: 2;

} */

/* 
@keyframes sublinhaTitulo {

    0% {
        width: 14.8vw;
    }

    100% {
        width: 30vw;
    }

} */

.imgMen {

    width: 27vw;
    height: 27vw;
    opacity: 0;
    animation: desenhoAparece 1s cubic-bezier(0.33, 0, 0.67, 1) forwards;
    animation-delay: 600ms;

}

.imgEncapuzado {
    position: absolute;
    width: 8vw;
    height: 8vw;
    right: 24vw;
    top: -5vw;
    /* opacity: 0; */

    animation: desenhoAparece 1s cubic-bezier(0.33, 0, 0.67, 1) forwards;
    animation-delay: 800ms;
}

.imgTela {
    position: absolute;
    width: 8vw;
    height: 8vw;
    height: 8vw;
    right: 58vw;
    top: -8vw;
    opacity: 0;
    animation: desenhoAparece 1s cubic-bezier(0.33, 0, 0.67, 1) forwards;
    animation-delay: 1s;
}

.imgLivro {
    position: absolute;
    width: 8vw;
    height: 8vw;
    height: 8vw;
    right: 38vw;
    top: 2vw;
    opacity: 0;
    animation: desenhoAparece 1s cubic-bezier(0.33, 0, 0.67, 1) forwards;
    animation-delay: 1.2s;
}

.imgEspada {
    position: absolute;
    width: 5vw;
    height: 24vw;
    right: 58vw;
    top: -7vw;
    opacity: 0;
    transform: rotate(90deg);
    animation: desenhoAparece 1s cubic-bezier(0.33, 0, 0.67, 1) forwards;
    animation-delay: 1.4s;
    z-index: 2;
}

.imgCelular {
    position: absolute;
    top: -2%;
    left: -6%;
    width: 5vw;
    height: 8vw;
    opacity: 0;
    animation: desenhoAparece 1s cubic-bezier(0.33, 0, 0.67, 1) forwards;
    animation-delay: 1.6s;
}

.imgMochila {
    position: absolute;
    top: 68%;
    left: 1%;
    width: 8vw;
    height: 7vw;
    z-index: 2;
    animation: desenhoAparece 1s cubic-bezier(0.33, 0, 0.67, 1) forwards;
    animation-delay: 600ms;
    opacity: 0;

}




@keyframes desenhoAparece {

    0% {
        opacity: 0;

    }



    100% {
        opacity: 1;

    }
}

/* ----------------- Segunda sessao -------------------- */


/* sessão dos titulos e redes  sociais */
.sub_container_2 {
    width: 150%;
    height:100vh;
    position: relative;
    background-color: #000000;
    display: flex;

}

.sub_container_2>div {


    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    align-items: center;
    /* overflow-x: hidden; */
    /* padding-bottom: 5vw; */






    /* Titulo Nome - div que engloba rede sociais e sub titulos */
    &>div:nth-child(1) {

        width: 100vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        & h1 {
            /* filter: blur(20px); */

            color: white;
            font-family: 'yeager', 'Times New Roman', Times, serif;
            text-transform: uppercase;
            font-size: 6vw;
            margin: 0;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }

        /* Engloba div com sub tiutlos e menu redes */
        &>div {

            width: 50%;
            display: flex;
            justify-content: space-between;
        }


        /* div menu rede sociais */
        &>div>div:nth-child(1) {
            border-radius: 5px;
            display: grid;
            grid-template-columns: 5vw 5vw 5vw;
            gap: 0.2vw;
            perspective: 500px;

            & div {
                border-radius: 5px;
                width: 5vw;
                height: 5vw;
                background-color: #0D1117;
                justify-content: center;
                align-items: center;
                display: flex;
                cursor: pointer;
                transition: all 0.5s cubic-bezier(0.87, -0.38, 0.3, 1.54);

            }

            & div:hover {
                transform: scale(1.2) !important;

                background-color: #c03654;
            }




        }

        & h2 {
            color: rgba(128, 128, 128, 0.432);
            ;
            font-family: 'yeager', 'Times New Roman', Times, serif;
            text-transform: uppercase;
            font-size: 2vw;
            margin: 0;
            padding: 0;


            /* animation: moveTitle linear both;
            animation-timeline: view(block 70% 10%); */
        }

        & h2:nth-of-type(1) {
            color: rgba(128, 128, 128, 0.432);

        }

    }

    .menuRedesGit {
        width: 4vw;
        height: 4vw;
    }

    .menuRedesWpp {
        width: 2vw;
        height: 2vw;
    }


    /* div dos projetos */
    &>div:nth-of-type(2) {
        /* width: 100vw; */
        /* height: 100%; */
        display: flex;
        gap: 0.2vw;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 8vw;

        

        /* estilo titulo projetos */
        &>h1 {

            color: white;
            font-family: 'yeager', 'Times New Roman', Times, serif;
            text-transform: uppercase;
            font-size: 6vw;
            margin-bottom: 0;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

        }

        &>div {
            display: flex;
            
            justify-content: center;
            align-self: center;
        }


    }

    &>div:nth-of-type(2):hover .box {
        filter: grayscale(1);
    }

    &>div:nth-of-type(2):hover .box:hover {

        width: 18vw;
        /* Increase the width of the box */
        /* height: 17vw; */
        /* Maintain the height of the box */
        /* transform: scale(1.5);  */
        filter: grayscale(0);
        /* clip-path: polygon(100% 25.3%, 100% 40%, 100% 55%, 100% 74.3%, 100% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 12.3%) !important; */


    }
}

.box {
    width: 8vw;
    height: 20vw;
    background-color: #3498db;
    /* overflow: hidden; */
    /* Hide the overflow of the image */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s cubic-bezier(0.87, -0.38, 0.3, 1.54);
    /* clip-path: polygon(100% 25.3%, 100% 40%, 100% 55%, 100% 74.3%, 100% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 12.3%) !important; */
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    /* animation: showMenu linear both;
    animation-timeline: view(block 70% 10%); */
}

.boxImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 5vw;
    border-radius: 5px;

}

.box::after,
.box::before {
    content: 'bb';
    width: 100%;
    height: 100%;
    transition: all 0.6s cubic-bezier(0.87, -0.38, 0.3, 1.54);
    z-index: -1;
    position: absolute;
}

.box:hover::after,
.box:hover::before {
    --ang-angle: 0deg;
    /* background-image: conic-gradient(from var(--ang-angle), var(--cor-color), #0000ff); */
    /* background-color: white; */
    animation: rotacao 3s linear infinite;
    z-index: -1;
    border-radius: inherit;
    padding: 1px;
    /* box-sizing: unset; */
}

.box:nth-child(3):hover::after,
.box:nth-child(3):hover::before {

    background-color: white !important;

}

.box:hover::after {
    filter: blur(10px);
}

.infoProjetos {
    position: absolute;
    background-color: #0000009e;
    bottom: 0;
    padding-left: .5vw;
    width: 97%;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 1s ease;
    
    &>h1 {
        font-size: 1vw;
        color: white;
        font-family: 'geist';
        opacity: 0;
        transition: all 1s ease .5s;
    }
}

.box:hover .infoProjetos {
    height: 5vw;
    opacity: 1;
    overflow: visible;
}

.box:hover .infoProjetos h1 {

    opacity: 1;

}

@keyframes moveTitle {

    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px);

    }




    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);


    }
}

@keyframes changeBlur {
    0% {
        filter: blur(20px);


    }

    100% {

        filter: blur(0px);

    }
}

@keyframes scaleRedeSociais {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);


    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);

    }
}

@keyframes rotacao {
    to {
        --ang-angle: 360deg;
    }
}

@keyframes showMenu {
    0% {
        /* opacity: 0; */
        -webkit-transform: translateY(100px);
        transform: translateY(100px);

    }




    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);


    }


}

/* sub container 3 */





.testeBox {
    width: 100vw;
    /* Largura de cada caixa */
    height: 100%;
    /* Altura de cada caixa */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.bloco1 {
    height: 100vh;
    width: 100vw;
    background-color: #f2e3d0;
}