/*  FONTES*/

@font-face {
    font-family: Louis;
    src: url('../fontes/Louis\ George\ Cafe\ Light.ttf');
}

@font-face {
    font-family: Code;
    src: url('../fontes/CodeNext-ExtraBold.otf');
}

@font-face {
    font-family: Fut;
    src: url('../fontes/SmallTypeWritingMedium.ttf');
}

/* fim FONTES */
* {
    outline: none;
}

html {
    scroll-behavior: initial;
    -webkit-tap-highlight-color: transparent;


}

@media (max-width: 780px) {}


body {
    background-color: #171616;

    /* background-color: #03071e; */
    padding: 0;
    margin: 0;
    overflow: hidden;

}


.container {
    position: relative;
}

.flex {
    display: flex;
}

.visible {
    visibility: visible !important;
}

.opacidade {
    opacity: 100% !important;
}

/* SECTION 1 */

.menu-mobile {
    display: none;
}

@media (max-width:780px) {
    .opacidade {
        opacity: 0% !important;
    }

    .mostra {
        opacity: 100% !important;
    }

    /* .menu-mobile {
        position: absolute;

        width: 100vw;
        top: 10vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 3;
        gap: 2vw;
        transition: all 0.8s linear;
    }

    .menu-mobile hr {



        box-shadow: 0px 0px 5px 0 #FADDB8;
        transition: all 0.8s linear;
        border: 1px solid white;
        margin: 0;
        width: 10vw;
    } */




    /* clip-path: polygon(100% 0%, 0% 0%, 0% 100%); */
    /* background-color: lightblue;    */

}

#nav {
    /* background-color: lightgray */
    position: relative;
    width: 25vw;
    height: 5vw;
    display: flex;
    margin-left: 40vw;
    border-radius: 50px;
    align-items: center;

}

#nav h1 {
    font-family: Louis;
    font-size: 1.5vw;

}

.nomeMenu {
    display: flex;
    justify-content: center;
}

.nomeMenu h1 {
    text-shadow: 0 0 3px whitesmoke;

    color: white;
    font-family: Louis;
    text-transform: uppercase;
    letter-spacing: 0.3vw;
    opacity: 0;

}

.cortina {
    position: absolute;
    background-color: white;

    z-index: 3;
    width: 100vw;
    top: 0;
    height: 0vw;
    /* left: -45vw;
    top: -37vw; */
    transition: all 1s ease;

}

.abreCortina {
    /* animation: efeitoCortina 1s linear forwards; */
    height: 36vw;


}

.fechaCortina {
    width: 4vw;
    height: 2vw;
    position: absolute;
    bottom: 1.5vw;
    left: 50vw;
    z-index: 5;

    visibility: hidden;
    cursor: pointer;
    /* transition: all 0.2s linear; */
    animation: arrow 1.5s linear infinite;
}

.fechaCortina img {
    width: 2vw;
    transform: rotate(180deg);
    opacity: 0;
    transition: all 0.5s ease;

}

@keyframes arrow {
    0% {}

    50% {
        transform: scale(1.1);
    }

    100% {}
}

/* 
@keyframes efeitoCortina {

    13% {
        height: 36vw;
    }

    25% {
        height: 30vw;
    }

    50% {
        height: 36vw;
    }

    75% {
        height: 32vw;
    }

    100% {
        height: 36vw;
    }
} */
@media (max-width:780px) {


    .abreCortina {
        height: 133vw;
        z-index: 2;
    }

    .fechaCortina {
        width: 90vw;
        height: 4vw;
        position: absolute;
        bottom: 12.3vw;
        left: 4.5vw;
        z-index: 5;
        justify-content: center;
        text-align: center;
        visibility: hidden;
        cursor: pointer;
        /* transition: all 0.2s linear; */
    }

    .fechaCortina img {

        width: 8vw;
        transform: rotate(180deg);
        opacity: 0;
        transition: all 0.5s ease;
    }

}

/*  INICIO SOBRE */
#sobre {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    width: 6vw;
    text-align: center;
    /* border-radius: 32% 65% 78% 0% / 25% 54% 30% 70%; */
    /* background: rgb(228, 19, 118); */
    /* background: linear-gradient(160deg, rgba(228, 19, 118, 1) 0%, rgba(163, 59, 186, 1) 50%); */
    transition: all 0.6s linear;
    /*     
    -webkit-box-shadow: 3px 3px 15px -6.5px #1d1d1d;
    -moz-box-shadow: 3px 3px 15px -6.5px #1d1d1d;
    box-shadow: 3px 3px 15px -6.5px #1d1d1d; */
    cursor: pointer;


}

#sobre img {
    width: 4vw;
    filter: saturate(0);
    transition: all 0.3s linear;
}

#sobre img:hover {
    transform: scale(1.3);
    filter: saturate(1);
}


.sobreConteudo {
    position: absolute;
    left: 20vw;
    top: -2vw;
    width: 60%;
    transition: all 0.5s linear;
    text-align: center;
    opacity: 0;
}

.sobreConteudo p {
    font-size: 1.8vw;
    color: black;
    text-align: justify;
    transition: all 0.5s linear;
    font-family: Louis;
}

.sobreConteudo H1 {
    color: black;
    font-size: 3vw;
    font-family: Louis;
}

/*  fim SOBRE */

/*  INICIO CARREIRA */
#carreira {

    width: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all 0.6s linear;
    z-index: 4;
    /* border-radius: 72% 85% 80% 0% / 5% 64% 65% 75%; */



    /* background: rgb(228, 19, 118); */
    /* background: linear-gradient(160deg, rgba(228, 19, 118, 1) 0%, rgba(163, 59, 186, 1) 25%, rgba(104, 95, 248, 1) 50%); */
    /* -webkit-box-shadow: 3px 3px 15px -6.5px #1d1d1d;
    -moz-box-shadow: 3px 3px 15px -6.5px #1d1d1d;
    box-shadow: 3px 3px 15px -6.5px #1d1d1d; */

}



.alvo {
    margin-top: 0.5vw;
    width: 4vw;
    filter: saturate(0);
    opacity: 70%;
    transition: all 0.3s linear;
}

.alvo:hover {
    
    opacity: 90%;
    filter: invert(0);
    transform: scale(1.2);
}

#carreira h1 {

    transition: all 0.6s linear;
    color: #414040;
    opacity: 80%;
}

/*  FIM  CARREIRA */

/*  INICIO VISAO */



#visao {

    width: 6vw;
    text-align: center;
    cursor: pointer;
    /* border-radius: 12% 85% 68% 80% / 75% 54% 90% 70%; */

    /* background: rgb(228, 19, 118); */
    /* background: linear-gradient(160deg, rgba(228, 19, 118, 1) 0%, rgba(163, 59, 186, 1) 16%, rgba(104, 95, 248, 1) 32%, rgba(0, 184, 255, 1) 50%); */
    transition: all 0.6s linear;
    /*     
 */

}

#visao h1 {
    padding-top: 2vw;
    padding-right: 1vw;
    font-size: 2.5vw;
    transition: all 0.3s linear;
    color: whitesmoke;
    opacity: 80%;
    text-shadow: 0 0 5px whitesmoke;
}

#visao h1:hover {
    transform: scale(1.2);
    color: #c84b31;
    text-shadow: 0 0 5px #c84b31;
    letter-spacing: 0.2vw;
}


/*  FIM  VISAO */
/*  INICIO projetos */
#projetos {

    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    width: 3vw;
    text-align: center;
    /* border-radius: 32% 65% 78% 0% / 25% 54% 30% 70%; */
    cursor: pointer;
    /* background: rgb(228, 19, 118); */
    /* background: linear-gradient(160deg, rgba(228, 19, 118, 1) 0%, rgba(163, 59, 186, 1) 12%, rgba(104, 95, 248, 1) 24%, rgba(0, 184, 255, 1) 37%, rgba(16, 27, 55, 1) 52%); */
    transition: all 0.6s linear;
    /* -webkit-box-shadow: 3px 3px 15px -6.5px #8f8f8f;
    -moz-box-shadow: 3px 3px 15px -6.5px #8f8f8f;
    box-shadow: 3px 3px 15px -6.5px #8f8f8f; */

}

.rocket {
    top: 1vw;
    left: 18vw;
    position: absolute;
    width: 3.5vw;
    filter: saturate(0);
    transition: all 0.3s linear;
    z-index: 5;
    transform: rotate(-45deg);
}

.rocket:hover {
    filter: saturate(1);



}

.chama {
    transform: rotate(-45deg) !important;
    top: 4.3vw;
    left: 18.7vw;
    position: absolute;
    width: 2vw;
    /* filter: saturate(0); */
    transition: all 0.3s linear;
    opacity: 0;

}

.lancaFoguete {
    animation: lançaFoguete 5s linear forwards;

}

.pousaFoguete {
    animation: pousaFoguete 5s linear forwards;
}

.acendeChama {
    animation: acendeChama 5s linear forwards;

}

.apagaChama {
    animation: apagaChama 5s linear forwards;

}

@keyframes lançaFoguete {
    0% {}

    5% {
        filter: saturate(1);

        transform: rotate(-45deg);

    }

    25% {
        filter: saturate(1);
        top: -8vw;
        transform: rotate(-45deg);
    }

    40% {
        filter: saturate(1);
        top: -7vw;
        transform: rotate(-45deg);
    }

    55% {
        filter: saturate(1);
        top: -8vw;
        transform: rotate(-45deg);
    }

    70% {
        filter: saturate(1);
        top: -7vw;
        transform: rotate(-45deg);
    }

    85% {
        filter: saturate(1);
        top: -8vw;
        transform: rotate(-45deg);
    }

    100% {
        filter: saturate(1);
        transform: rotate(-45deg);
        top: -7vw;
    }

    /* 100% {
        transform: rotate(-45deg);
        top: 0vw;
    } */
}

@keyframes pousaFoguete {
    0% {
        filter: saturate(1);
        transform: rotate(-45deg);
        top: -7vw;
    }

    70% {
        filter: saturate(1);
        transform: rotate(-45deg);
        top: 1vw;
    }

    100% {
        top: 1vw;
        filter: saturate(0);
        transform: rotate(-45deg);

    }
}

@keyframes acendeChama {
    0% {}

    5% {
        opacity: 50%;
        transform: scale(1.1vw);

    }

    25% {
        width: 3vw;
        left: 18.2vw;
        opacity: 100%;
        top: -5vw;
        transform: scale(1.2);
    }

    40% {
        width: 2vw;
        left: 18.7vw;
        opacity: 100%;
        top: -3.8vw;
        transform: scale(1.3);
    }

    55% {

        opacity: 100%;
        top: -4.8vw;
        transform: scale(1);
    }

    70% {
        opacity: 100%;

        top: -3.8vw;
        transform: scale(1);
    }

    85% {

        top: -4.8vw;
        transform: scale(1);
        opacity: 100%;
    }

    100% {
        opacity: 100%;
        transform: rotate(-45deg);
        transform: scale(1);
        top: -3.8vw;
    }

    /* 100% {
        
        transform: scale(1);
        top: 0vw;
    } */
}

@keyframes apagaChama {
    0% {
        opacity: 100%;
        filter: saturate(1);
        transform: rotate(-45deg);
        top: -3.8vw;
    }

    70% {
        opacity: 100%;
        filter: saturate(1);
        transform: rotate(-45deg);
        top: 4.3vw;
        left: 19.2vw;
        width: 1vw;
    }

    100% {
        top: 4.3vw;
        left: 19.7vw;
        width: 0vw;
        filter: saturate(0);
        transform: rotate(0deg);

    }
}

.projetos {
    opacity: 0;
    transition: all 0.5s linear;
    text-align: center;
    position: absolute;

}


.arquetipo img {
    width: 10vw;
    transition: all 0.2s linear;
    opacity: 80%;
}

.arquetipo h2 {
    margin-top: 1.7vw;
    font-family: Louis;
    font-size: 1.3vw;
}

.arquetipo img:hover {
    scale: 1.2;
}

.calculadora img {
    width: 5vw;
    border-radius: 10px;
    transition: all 0.2s linear;
    opacity: 80%;
}

.calculadora h2 {
    font-size: 1.3vw;
    font-family: Louis;
}

.calculadora img:hover {
    scale: 1.2;
}

/*  FIM projetos */
/* .linha{
    position: absolute;
    bottom: -138%;
    /* background-color: #ff0077; 
    height: 70vw;
    width: 0.5vw;
    border-radius: 10px;
    transform: rotate(45deg);
    filter: blur(10px);
    
    box-shadow:  3px 3px 32px 6px #e41376;
    filter: blur(1px);
    animation: linhaMove 1s linear infinite;
} */

/* classeS para menu que ajustão o hover */

.h1SobreHover {

    top: 16vw !important;
    left: 13vw !important;

    transform: rotate(-52deg) !important;
}

.h1ProjetosHover {
    top: 15vw !important;
    left: 8vw !important;

    transform: rotate(-52deg) !important;
}

.h1CarreiraHover {
    top: 13vw !important;
    left: 5vw !important;

    transform: rotate(-52deg) !important;
}

.h1VisaoHover {
    transform: scale(1.4);
}

/* fim ajuste hover menu  */
/* Classes para clique nav */

.abreNav {
    /* border-radius: 21% 52% 24% 66% / 46% 25% 90% 30% !important; */
    top: -35vw !important;
    left: -30vw !important;
    rotate: -45deg !important;

    width: 100vw !important;
    height: 80vw !important;

}

.h1CliqueSobre {

    transform: rotate(45deg) !important;
    left: 45vw !important;
    top: 35vw !important;
    font-size: 5vw !important;
}

.h1CliqueProjetos {
    transform: rotate(45deg) !important;
    left: 52vw !important;
    top: 45vw !important;
    font-size: 5vw !important;
}

.h1CliqueCarreira {
    transform: rotate(45deg) !important;
    left: 52vw !important;
    top: 45vw !important;
    font-size: 5vw !important;
}

.h1CliqueVisao {
    transform: rotate(45deg) !important;
    left: 56vw !important;
    top: 45vw !important;
    font-size: 5vw !important;
}

@media (max-width: 780px) {
    #nav {
        width: 90vw;
        height: 20vw;
        z-index: 2;
        display: flex;
        margin-left: 4vw;
        
        justify-content: center;
        /* background-color: red; */
        border-radius: 0px;

    }

    .nomeMenu {
        display: none;
    }

    .abreNav {
        rotate: 0deg !important;
        width: 0vw !important;
        height: 0vw !important;

    }

    /* SOBRE */
    #sobre {
        box-shadow: none;
        rotate: 0deg !important;
        width: 15vw !important;
        height: 10vw;

        background-color: transparent;
        position: static !important;
        /* border-radius: 0% 35% 78% 70px / 35% 84% 20% 20%; */
        border-radius: 0 !important;


    }

    #sobre img {
        width: 13vw;
    }



    .sobreConteudo {
        left: 0;
        top: 5vw;
    }

    .sobreConteudo h1 {
        color: black;
        font-size: 5vw;
        opacity: 100;
        letter-spacing: 0;
        width: 90vw;
        margin: 0;



    }



    .sobreConteudo p {
        /* font-family: Georgia, 'Times New Roman', Times, serif !important; */
        width: 90vw !important;
        font-size: 5vw;
        color: black;
        margin: 0;
        padding: 0;
        padding-left: 5vw;
        padding-top: 5vw;
        transition: all 1s linear;
    }

    /* FIM SOBRE */
    /* VISAO */

    #carreira {
        box-shadow: none;
        background-color: transparent;
        position: static !important;
        rotate: 0deg !important;
        width: 20vw !important;
        height: 10vw !important;
        /* position: relative !important; */
        /* border-radius: 0% 35% 78% 70px / 35% 84% 20% 20%; */
        border-radius: 0 !important;

    }

    #carreira:hover {
        width: 0vw;
        height: 0vw;
        top: 0vw !important;
        left: 0vw !important;
        rotate: 0deg;

    }

    #carreira img {
        padding-top: 1.5vw;
        width: 13vw;
    }

    /* visao */

    #visao {

        width: 15vw !important;
        height: 10vw !important;

    }

    #visao h1 {
        margin: 0;
        padding-top: 5vw;
        padding-left: 3vw;
        color: white;
        font-size: 10vw;



    }


    .h1CliqueVisao {
        transform: rotate(0deg) !important;
        left: 0vw !important;
        top: 0vw !important;
        font-size: 5vw !important;
        border-bottom: 1px solid white;
        box-shadow: 1px 13.5px 16px -8px white;
    }

    /* fim VISAO */
    /* projetos */
    #projetos {
        background-color: transparent;
        position: static !important;
        rotate: 0deg !important;
        width: 15vw !important;
        height: 10vw !important;
        /* position: relative !important; */
        /* border-radius: 0% 35% 78% 70px / 35% 84% 20% 20%; */
        border-radius: 0 !important;
        box-shadow: none;

    }

    #projetos:hover {
        width: 0vw;
        height: 0vw;
        top: 0vw !important;
        left: 0vw !important;
        rotate: 0deg;

    }

    #projetos h1 {

        position: static !important;
        transform: rotate(0deg) !important;
        font-size: 5vw;
        opacity: 100;
        letter-spacing: 0;
        color: white;
        width: 22vw;
    }

    .projetos {
        width: 100vw;
        left: 0vw;
        top: 10vw;
        transform: rotate(0deg);
        justify-content: center;
        align-items: center;

    }

    .rocket {
        width: 11vw;
        left: 5vw;
        top: 5vw;
    }

    .chama {
        width: 8vw;
        top: 15vw;
        left: 6.3vw;

    }

    @keyframes lançaFoguete {
        0% {
            width: 11vw;

        }

        15% {
            filter: saturate(1);

            transform: rotate(-45deg);
            width: 11vw;
        }

        25% {
            filter: saturate(1);
            top: -20vw;
            transform: rotate(-45deg);
            width: 11vw;
        }

        40% {
            width: 11vw;
            filter: saturate(1);
            top: -19vw;
            transform: rotate(-45deg);
        }

        55% {
            width: 11vw;
            filter: saturate(1);
            top: -20vw;
            transform: rotate(-45deg);
        }

        70% {
            width: 11vw;
            filter: saturate(1);
            top: -19vw;
            transform: rotate(-45deg);
        }

        85% {
            width: 11vw;
            filter: saturate(1);
            top: -20vw;
            transform: rotate(-45deg);
        }

        100% {
            width: 11vw;
            filter: saturate(1);
            transform: rotate(-45deg);
            top: -19vw;
        }

        /* 100% {
            transform: rotate(-45deg);
            top: 0vw;
        } */
    }

    @keyframes pousaFoguete {
        0% {
            filter: saturate(1);
            transform: rotate(-45deg);
            top: -20vw;
            width: 11vw;
        }

        70% {
            width: 11vw;
            filter: saturate(1);
            transform: rotate(-45deg);
            top: 5vw;
        }

        100% {
            width: 11vw;
            top: 5vw;
            filter: saturate(0);
            transform: rotate(-45deg);

        }
    }

    @keyframes acendeChama {
        0% {}

        5% {
            opacity: 50%;
            transform: scale(1.1vw);

        }

        25% {
            width: 10vw;
            left: 5.3vw;
            opacity: 100%;
            top: -9vw;
            transform: scale(1.2);
        }

        40% {
            width: 8vw;
            left: 6.2vw;
            opacity: 100%;
            top: -8vw;
            transform: scale(1.3);
        }

        55% {
            width: 8vw;
            opacity: 100%;
            top: -9vw;
            transform: scale(1);
            left: 6.2vw;
        }

        70% {
            opacity: 100%;
            width: 8vw;
            top: -8vw;
            transform: scale(1);
            left: 6.2vw;
        }

        85% {
            width: 8vw;
            top: -9vw;
            transform: scale(1);
            opacity: 100%;
            left: 6.2vw;
        }

        100% {
            width: 8vw;
            opacity: 100%;
            transform: rotate(-45deg);
            transform: scale(1);
            left: 6.2 vw;
            top: -8vw;
        }

        /* 100% {
            
            transform: scale(1);
            top: 0vw;
        } */
    }

    @keyframes apagaChama {
        0% {

            opacity: 100%;
            filter: saturate(1);
            transform: rotate(-45deg);
            top: -9vw;
        }

        70% {
            opacity: 100%;
            filter: saturate(1);
            transform: rotate(-45deg);
            top: 15vw;
            left: 9.6vw;
            width: 1vw;
        }

        100% {
            top: 15vw;
            left: 10vw;
            width: 0vw;
            filter: saturate(0);
            transform: rotate(0deg);

        }
    }

    .arquetipo h2 {

        width: 40vw;
        padding-top: 1vw;
        margin: 0;
        font-size: 4vw !important;
        color: black !important;
    }

    .arquetipo img {
        width: 30vw;
    }

    .calculadora h2 {
        width: 40vw;
        padding-top: 1vw;
        margin: 0;
        font-size: 4vw !important;
        color: black !important;
    }

    .calculadora img {
        width: 14vw
    }

    .h1ProjetosHover {
        top: 0vw !important;
        left: 0vw !important;

        transform: rotate(0deg) !important;
    }

    .h1CliqueProjetos {
        transform: rotate(0deg) !important;
        left: 0vw !important;
        top: 0vw !important;
        font-size: 5vw !important;
        border-bottom: 1px solid white;
        box-shadow: 1px 13.5px 16px -8px white;
    }

    /* fim projetos */
}



/* FIM SECTION 1 */

/* SECTION 2 */
.principal {
    padding-top: 10vw;
    margin-left: 10vw;
    gap: 10vw;
    display: flex;
    transition: all 0.5s linear;
    height: 22vw;
}

.principal h1 {
    font-size: 4vw;

    font-family: Code;
    color: #ffce6b;
    /* text-shadow: 0 0 6px #ffce6b; */

}

.principal h2 {
    font-family: Louis;
    font-size: 4vw;
    text-shadow: 0 0 5px #c84b31;
    color: #c84b31;
}


.principal img {

    border-radius: 30%;
    width: 20vw;
    height: 25vw;
    cursor: pointer;
    filter: brightness(70%);
    z-index: 0;
}

.redes {
    position: relative;
    margin-left: 10vw;
    display: flex;
    gap: 1.5vw;
    margin-top: 0.3vw;
    
}

.redes img {
    transition: all 0.2s linear;
    width: 2.5vw;

}

.redes img:hover {
    transform: scale(1.1);
    filter: sepia(1);


}

.git {
    width: 2.6vw !important;
    left: 2.7vw;
    position: absolute;

}


@media (max-width:780px) {}



.neonPerfil,
.neonPerfil2,
.neonPerfil3,
.neonPerfil4,
.neonPerfil5,
.neonPerfil6,
.neonPerfil7,
.neonPerfil8 {
    position: absolute;
    width: 1vw;
    height: 0.3vw;
    top: 10.6vw;
    right: 15vw;
    border-radius: 5px;
    background-color: #fae8b2;
    transform: rotate(135deg);

    -webkit-box-shadow: 3px 3px 15px 0 #FADDB8;
    -moz-box-shadow: 3px 3px 15px 0 #FADDB8;
    box-shadow: 3px 3px 15px 0 #FADDB8;
    transition: all 0.2s linear;
    visibility: hidden;
}


.neonPerfil:hover,
.neonPerfil2:hover,
.neonPerfil3:hover,
.neonPerfil4:hover,
.neonPerfil5:hover,
.neonPerfil6:hover,
.neonPerfil7:hover,
.neonPerfil8:hover {
    scale: 2;
}

.neonRosa {
    animation: moveLinhaRosa 20s linear infinite reverse;
}

.neonAzul {
    animation: moveLinhaAzul 20s linear infinite;
}

@keyframes moveLinhaRosa {

    0% {
        width: 1vw;
        z-index: 1;

    }

    15% {
        width: 3vw;
        /* transform: rotate(135deg); */
    }

    30% {
        transform: rotate(-10deg);
        top: 25vw;
        right: 31vw;
        width: 2vw;
        background-color: #FADDB8;
        -webkit-box-shadow: 3px 3px 15px 0 #FADDB8;
        -moz-box-shadow: 3px 3px 15px 0 #FADDB8;
        box-shadow: 3px 3px 15px 0 #FADDB8;
        /* height: 0.4vw; */

    }

    40% {
        z-index: -1;

    }

    50% {
        top: 20vw;
        right: 15vw;
        z-index: -1;
        width: 1vw;
        background-color: #74f3ff;
        -webkit-box-shadow: 3px 3px 15px 0 #74f3ff;
        -moz-box-shadow: 3px 3px 15px 0 #74f3ff;
        box-shadow: 3px 3px 15px 0 #74f3ff;
    }

    54% {
        transform: rotate(50deg);
        z-index: 1;
    }

    60% {
        width: 5vw;

    }

    75% {
        background-color: #ff78db;
        -webkit-box-shadow: 3px 3px 15px 0 #ff78db;
        -moz-box-shadow: 3px 3px 15px 0 #ff78db;
        box-shadow: 3px 3px 15px 0 #ff78db;
        top: 35vw;
        right: 36vw;
        width: 1vw;


    }

    82% {

        z-index: -1;

    }

    95% {

        z-index: -1;
    }

    100% {
        background-color: #ff78db;
        -webkit-box-shadow: 3px 3px 15px 0 #ff78db;
        -moz-box-shadow: 3px 3px 15px 0 #ff78db;
        box-shadow: 3px 3px 15px 0 #ff78db;
        width: 1vw;
        height: 0.3vw;
        z-index: -1;
        top: 10.6vw;
        right: 15vw;
    }
}

@keyframes moveLinhazul {

    0% {
        width: 1vw;

        z-index: 2;
    }

    25% {

        transform: rotate(-270deg);
        width: 5vw;
    }

    50% {

        top: 39vw;
        right: 26vw;
        width: 0vw;
        background-color: #FADDB8;
        -webkit-box-shadow: 3px 3px 15px 0 #FADDB8;
        -moz-box-shadow: 3px 3px 15px 0 #FADDB8;
        box-shadow: 3px 3px 15px 0 #FADDB8;
        /* height: 0.5vw; */
    }

    100% {
        width: 1vw;
        height: 0.2vw;
        z-index: 1;
        top: 10.6vw;
        right: 15vw;
    }
}

@media (max-width: 780px) {
    
    .principal {
        width: 100%;
        height: 130vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0vw;
        
        
    }

    .principal h1 {
        font-size: 6vw;
    }

    .principal h2 {
        font-size: 6vw;
    }

    .principal img {
        width: 46vw;
        height: 60vw;

    }

    .neonPerfil,
    .neonPerfil2,
    .neonPerfil3,
    .neonPerfil4,
    .neonPerfil5,
    .neonPerfil6,
    .neonPerfil7,
    .neonPerfil8 {
        top: 80vw;
        right: 22vw;
        width: 10vw;
        height: 1vw;
        visibility: hidden;
    }



.redes{
    left: -5vw;
    top: 90vw;
    position: absolute;
    display: flex;
    gap: 4.5vw;
    flex-direction: column;
    height: 10vw;
    
}
.redes img{
    width: 7vw;
}
.git{
    top: 8vw;
    left: -0.5vw;
    width: 8vw !important;
}
    @keyframes moveLinhaRosa {

        0% {
            width: 10vw;
            z-index: 1;

        }

        15% {
            width: 10vw;

            background-color: #74f3ff;
            -webkit-box-shadow: 3px 3px 15px 0 #74f3ff;
            -moz-box-shadow: 3px 3px 15px 0 #74f3ff;
            box-shadow: 3px 3px 15px 0 #74f3ff;
            /* transform: rotate(135deg); */
        }

        30% {
            transform: rotate(-10deg);
            top: 90vw;
            right: 70vw;
            width: 5vw;
            background-color: #ff78db;
            -webkit-box-shadow: 3px 3px 15px 0 #ff78db;
            -moz-box-shadow: 3px 3px 15px 0 #ff78db;
            box-shadow: 3px 3px 15px 0 #ff78db;
            /* height: 0.4vw; */

        }

        40% {
            z-index: -1;

        }

        50% {
            top: 110vw;
            right: 25vw;
            z-index: -1;
            width: 3vw;
            background-color: #74f3ff;
            -webkit-box-shadow: 3px 3px 15px 0 #74f3ff;
            -moz-box-shadow: 3px 3px 15px 0 #74f3ff;
            box-shadow: 3px 3px 15px 0 #74f3ff;
        }

        54% {
            transform: rotate(50deg);
            z-index: 1;
        }

        60% {
            width: 15vw;

        }

        75% {
            background-color: #ff78db;
            -webkit-box-shadow: 3px 3px 15px 0 #ff78db;
            -moz-box-shadow: 3px 3px 15px 0 #ff78db;
            box-shadow: 3px 3px 15px 0 #ff78db;
            top: 125vw;
            right: 75vw;
            width: 3vw;


        }

        82% {

            z-index: -1;

        }

        95% {

            z-index: -1;
        }

        100% {
            /* background-color: #ff78db;
            -webkit-box-shadow: 3px 3px 15px 0 #ff78db;
            -moz-box-shadow: 3px 3px 15px 0 #ff78db;
            box-shadow: 3px 3px 15px 0 #ff78db; */
            width: 10vw;
            /* height: 0.2vw; */
            z-index: -1;
            top: 80vw;
            right: 22vw;
        }
    }

}



/* SCROLL REVEAL */

/* #sobre,
#projetos,
#carreira,
#visao,
.principal {
    visibility: hidden;
} */