/*  FONTES*/

@font-face {
    font-family: Louis;
    src: url('../fontes/Louis\ George\ Cafe\ Light.ttf');
}

@font-face {
    font-family: Code;
    src: url('../fontes/CodeNext-ExtraBold.otf');
}

@font-face {
    font-family: Fut;
    src: url('../fontes/SmallTypeWritingMedium.ttf');
}

/* fim FONTES */

html {
    scroll-behavior: initial;
    -webkit-tap-highlight-color: transparent;


}

@media (max-width: 780px) {
    

}


body {
    background-color: #101010;

    /* background-color: #03071e; */
    padding: 0;
    margin: 0;
    overflow: hidden;

}


.container {
    position: relative;
}

.flex {
    display: flex;
}

.visible {
    visibility: visible !important;
}

.opacidade {
    opacity: 100% !important;
}

/* SECTION 1 */

.menu-mobile {
    display: none;
}

@media (max-width:780px) {

    .mostra {
        opacity: 100% !important;
    }

    .menu-mobile {
        position: absolute;

        width: 100vw;
        top: 10vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 3;
        gap: 2vw;
        transition: all 0.8s linear;
    }

    .menu-mobile hr {



        box-shadow: 0px 0px 5px 0 #FADDB8;
        transition: all 0.8s linear;
        border: 1px solid white;
        margin: 0;
        width: 10vw;
    }


    #nav {
        max-width: 100vw;
        max-height: 30vw;

    }

    /* clip-path: polygon(100% 0%, 0% 0%, 0% 100%); */
    /* background-color: lightblue;    */

}

@media (max-width:780px) {

    #nav {
        /* display: none !important; */
    }
}

#nav h1 {
    font-family: Louis;
}

/*  INICIO SOBRE */
#sobre {
    /* clip-path: polygon(100% 0%, 0% 0%, 0% 100%); */
    width: 18vw;
    height: 23vw;
    position: absolute;
    top: -14vw;
    left: -8vw;
    z-index: 5;
    background-color: #FBD9AC;
    border-radius: 32% 65% 78% 0% / 25% 54% 30% 70%;
    /* background: rgb(228, 19, 118); */
    /* background: linear-gradient(160deg, rgba(228, 19, 118, 1) 0%, rgba(163, 59, 186, 1) 50%); */
    transition: all 0.6s linear;
    rotate: 45deg;
    -webkit-box-shadow: 3px 3px 15px -6.5px #1d1d1d;
    -moz-box-shadow: 3px 3px 15px -6.5px #1d1d1d;
    box-shadow: 3px 3px 15px -6.5px #1d1d1d;
    cursor: pointer;


}

#sobre:hover {
    rotate: 20deg;

    width: 22vw;
    height: 27vw;
}

#sobre h1 {
    position: absolute;
    top: 11vw;
    left: 12.5vw;
    font-size: 1.5vw;
    transform: rotate(-90deg);
    transition: all 0.6s linear;
    color: #414040;
    letter-spacing: 0.5vw;
    opacity: 80%;

}

#sobre p {
    position: absolute;
    top: 40vw;
    left: 20vw;
    opacity: 0;
    width: 40%;
    transform: rotate(45deg);
    visibility: hidden;
    font-size: 1.8vw;
    color: black;
    text-align: justify;
    transition: all 0.1s linear;
    font-family: Louis;

}

/*  fim SOBRE */

/*  INICIO CARREIRA */
#carreira {
    cursor: pointer;
    border-radius: 72% 85% 80% 0% / 5% 64% 65% 75%;
    rotate: 45deg;
    z-index: 4;
    position: absolute;
    top: -20vw;
    left: -10vw;
    width: 21vw;
    height: 40vw;
    background-color: #FADDB8;

    /* background: rgb(228, 19, 118); */
    /* background: linear-gradient(160deg, rgba(228, 19, 118, 1) 0%, rgba(163, 59, 186, 1) 25%, rgba(104, 95, 248, 1) 50%); */
    transition: all 0.6s linear;
    -webkit-box-shadow: 3px 3px 15px -6.5px #1d1d1d;
    -moz-box-shadow: 3px 3px 15px -6.5px #1d1d1d;
    box-shadow: 3px 3px 15px -6.5px #1d1d1d;

}

#carreira:hover {
    /* top: -35vw;
    left: -30vw;
    rotate: -45deg;
    
    width: 100vw;
    height: 80vw; */

    top: -6vw;
    left: -2vw;

    rotate: 10deg;

    width: 15vw;
    height: 21vw;
}

#carreira h1 {
    letter-spacing: 0.5vw;
    position: absolute;
    top: 18vw;
    left: 14.8vw;
    font-size: 1.3vw;
    transform: rotate(-90deg);
    transition: all 0.6s linear;
    color: #414040;
    opacity: 80%;
}

/*  FIM  CARREIRA */

/*  INICIO VISAO */



#visao {
    cursor: pointer;
    border-radius: 12% 85% 68% 80% / 75% 54% 90% 70%;
    z-index: 3;
    position: absolute;
    top: -20vw;
    left: -10vw;
    width: 20.7vw;
    height: 48.7vw;
    background-color: #f7d6af;
    /* background: rgb(228, 19, 118); */
    /* background: linear-gradient(160deg, rgba(228, 19, 118, 1) 0%, rgba(163, 59, 186, 1) 16%, rgba(104, 95, 248, 1) 32%, rgba(0, 184, 255, 1) 50%); */
    transition: all 0.6s linear;
    rotate: 45deg;
    -webkit-box-shadow: 3px 3px 15px -6.5px #1d1d1d;
    -moz-box-shadow: 3px 3px 15px -6.5px #1d1d1d;
    box-shadow: 3px 3px 15px -6.5px #1d1d1d;

}

#visao h1 {
    letter-spacing: 0.5vw;
    position: absolute;
    top: 18.5vw;
    left: 16.5vw;
    font-size: 1.3vw;
    transform: rotate(-90deg);
    transition: all 0.6s linear;
    color: #414040;
    opacity: 80%;
}

#visao:hover {
    /*     
    top: -35vw;
    left: -30vw;
    rotate: -45deg;
    
    width: 100vw;
    height: 80vw; */
    top: -6vw;
    left: -2vw;

    rotate: 10deg;

    width: 18vw;
    height: 22vw;
}

/*  FIM  VISAO */
/*  INICIO projetos */
#projetos {

    border-radius: 32% 65% 78% 0% / 25% 54% 30% 70%;
    cursor: pointer;
    rotate: 45deg;
    z-index: 2;
    position: absolute;
    top: -30vw;
    left: -10vw;
    width: 29vw;
    height: 57vw;
    background-color: #fbe0af;
    /* background: rgb(228, 19, 118); */
    /* background: linear-gradient(160deg, rgba(228, 19, 118, 1) 0%, rgba(163, 59, 186, 1) 12%, rgba(104, 95, 248, 1) 24%, rgba(0, 184, 255, 1) 37%, rgba(16, 27, 55, 1) 52%); */
    transition: all 0.6s linear;
    -webkit-box-shadow: 3px 3px 15px -6.5px #8f8f8f;
    -moz-box-shadow: 3px 3px 15px -6.5px #8f8f8f;
    box-shadow: 3px 3px 15px -6.5px #8f8f8f;

}

#projetos:hover {
    /* top: -35vw;
    left: -30vw;
    rotate: -45deg;

    width: 100vw;
    height: 80vw; */
    top: -5vw;
    left: 0vw;

    rotate: 8deg;

    width: 18vw;
    height: 24vw;
}

#projetos h1 {
    letter-spacing: 0.5vw;
    position: absolute;
    top: 30.5vw;
    left: 22.6vw;
    font-size: 1.3vw;
    transform: rotate(-90deg);
    transition: all 0.6s linear;
    color: #414040;
    opacity: 80%;
}

.projetos {
    transform: rotate(45deg);
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s linear;
    width: 10vw;
    top: 39vw;
    left: 35vw;
    text-align: center;
    gap: 3vw;
}

.arquetipo img {
    width: 10vw;
    transition: all 0.2s linear;
    opacity: 80%;
}

.arquetipo h2 {
    margin-top: 1.7vw;
    font-family: Louis;
    font-size: 1.3vw;
}

.arquetipo img:hover {
    scale: 1.2;
}

.calculadora img {
    width: 5vw;
    border-radius: 10px;
    transition: all 0.2s linear;
    opacity: 80%;
}

.calculadora h2 {
    font-size: 1.3vw;
    font-family: Louis;
}

.calculadora img:hover {
    scale: 1.2;
}

/*  FIM projetos */
/* .linha{
    position: absolute;
    bottom: -138%;
    /* background-color: #ff0077; 
    height: 70vw;
    width: 0.5vw;
    border-radius: 10px;
    transform: rotate(45deg);
    filter: blur(10px);
    
    box-shadow:  3px 3px 32px 6px #e41376;
    filter: blur(1px);
    animation: linhaMove 1s linear infinite;
} */

/* classeS para menu que ajustão o hover */

.h1SobreHover {

    top: 16vw !important;
    left: 13vw !important;

    transform: rotate(-52deg) !important;
}

.h1ProjetosHover {
    top: 15vw !important;
    left: 8vw !important;

    transform: rotate(-52deg) !important;
}

.h1CarreiraHover {
    top: 13vw !important;
    left: 5vw !important;

    transform: rotate(-52deg) !important;
}

.h1VisaoHover {
    top: 13.5vw !important;
    left: 10vw !important;

    transform: rotate(-52deg) !important;
}

/* fim ajuste hover menu  */
/* Classes para clique nav */

.abreNav {
    /* border-radius: 21% 52% 24% 66% / 46% 25% 90% 30% !important; */
    top: -35vw !important;
    left: -30vw !important;
    rotate: -45deg !important;

    width: 100vw !important;
    height: 80vw !important;

}

.h1CliqueSobre {

    transform: rotate(45deg) !important;
    left: 45vw !important;
    top: 35vw !important;
    font-size: 5vw !important;
}

.h1CliqueProjetos {
    transform: rotate(45deg) !important;
    left: 52vw !important;
    top: 45vw !important;
    font-size: 5vw !important;
}

.h1CliqueCarreira {
    transform: rotate(45deg) !important;
    left: 52vw !important;
    top: 45vw !important;
    font-size: 5vw !important;
}

.h1CliqueVisao {
    transform: rotate(45deg) !important;
    left: 56vw !important;
    top: 45vw !important;
    font-size: 5vw !important;
}

@media (max-width: 780px) {
    #nav {
        left: 1vw !important;
        position: absolute;
        top: 16vw;
        width: 90vw;
        z-index: 2;
        display: flex;
        justify-content: space-between;

        /* background-color: #f7d6af; */
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .abreNav {
        rotate: 0deg !important;
        width: 0vw !important;
        height: 0vw !important;

    }

    /* SOBRE */
    #sobre {
        box-shadow: none;
        rotate: 0deg !important;
        width: 15vw !important;
        height: 10vw;

        background-color: transparent;
        position: static !important;
        /* border-radius: 0% 35% 78% 70px / 35% 84% 20% 20%; */
        border-radius: 0 !important;
        opacity: 0;

    }

    #sobre:hover {
        width: 15vw !important;
        height: 0vw !important;
        rotate: 0deg !important;

    }

    #sobre h1 {
        color: white;
        position: static !important;
        transform: rotate(0deg);
        font-size: 5vw !important;
        opacity: 100;
        letter-spacing: 0;
        width: 15vw;


    }

    .h1SobreHover {

        left: 0 !important;
        top: 0 !important;
        transform: rotate(0deg) !important;
    }


    .h1CliqueSobre {


        transform: rotate(0deg) !important;
        left: 0 !important;
        top: 0 !important;
        font-size: 5vw !important;
        border-bottom: 1px solid white;
        box-shadow: 1px 13.5px 16px -8px white;
    }

    #sobre p {
        font-family: Georgia, 'Times New Roman', Times, serif !important;
        width: 90vw !important;
        height: 112vw;
        position: static !important;
        left: 0vw !important;
        transform: rotate(0deg) !important;
        padding: 4vw;
        font-size: 5vw;
        color: white;
        /* background-color: white; */
        border-radius: 5px;
        margin: 0 !important;
        transition: all 1s linear;
    }

    /* FIM SOBRE */
    /* VISAO */

    #carreira {
        opacity: 0;
        box-shadow: none;
        background-color: transparent;
        position: static !important;
        rotate: 0deg !important;
        width: 20vw !important;
        height: 10vw !important;
        /* position: relative !important; */
        /* border-radius: 0% 35% 78% 70px / 35% 84% 20% 20%; */
        border-radius: 0 !important;

    }

    #carreira:hover {
        width: 0vw;
        height: 0vw;
        top: 0vw !important;
        left: 0vw !important;
        rotate: 0deg;

    }

    #carreira h1 {
        color: white;
        position: static !important;
        transform: rotate(0deg) !important;
        font-size: 5vw;
        opacity: 100;
        letter-spacing: 0;
        width: 21vw;

    }

    .h1CarreiraHover {

        top: 0vw !important;
        left: 0vw !important;
        transform: rotate(0deg) !important;
        font-size: 4vw;
    }

    .h1CliqueCarreira {

        transform: rotate(0deg) !important;
        left: 45vw !important;
        top: 45vw !important;
        background-color: transparent;
        font-size: 5vw !important;
        border-bottom: 1px solid white;
        box-shadow: 1px 13.5px 16px -8px white;
    }

    /* visao */

    #visao {
        opacity: 0;
        background-color: transparent;
        position: static !important;
        rotate: 0deg !important;
        width: 15vw !important;
        height: 10vw !important;
        /* position: relative !important; */
        /* border-radius: 0% 35% 78% 70px / 35% 84% 20% 20%; */
        border-radius: 0 !important;
        box-shadow: none;

    }

    #visao:hover {
        width: 0vw;
        height: 0vw;
        top: 0vw !important;
        left: 0vw !important;
        rotate: 0deg;

    }

    #visao h1 {
        color: white;
        position: static !important;
        transform: rotate(0deg) !important;
        font-size: 5vw;
        opacity: 100;
        letter-spacing: 0;
        width: 13vw;
    }

    .h1VisaoHover {
        top: 0vw !important;
        left: 0vw !important;

        transform: rotate(0deg) !important;
    }

    .h1CliqueVisao {
        transform: rotate(0deg) !important;
        left: 0vw !important;
        top: 0vw !important;
        font-size: 5vw !important;
        border-bottom: 1px solid white;
        box-shadow: 1px 13.5px 16px -8px white;
    }

    /* fim VISAO */
    /* projetos */
    #projetos {
        opacity: 0;
        background-color: transparent;
        position: static !important;
        rotate: 0deg !important;
        width: 15vw !important;
        height: 10vw !important;
        /* position: relative !important; */
        /* border-radius: 0% 35% 78% 70px / 35% 84% 20% 20%; */
        border-radius: 0 !important;
        box-shadow: none;

    }

    #projetos:hover {
        width: 0vw;
        height: 0vw;
        top: 0vw !important;
        left: 0vw !important;
        rotate: 0deg;

    }

    #projetos h1 {

        position: static !important;
        transform: rotate(0deg) !important;
        font-size: 5vw;
        opacity: 100;
        letter-spacing: 0;
        color: white;
        width: 22vw;
    }

    .projetos {
        width: 100vw;
        left: -75vw;
        top: 20;
        transform: rotate(0deg);
        flex-direction: column;
        justify-content: cente;
        align-items: center;

    }



    .arquetipo h2 {

        width: 40vw;
        padding-top: 1vw;
        margin: 0;
        font-size: 4vw !important;
        color: white !important;
    }

    .arquetipo img {
        width: 30vw;
    }

    .calculadora h2 {
        width: 40vw;
        padding-top: 1vw;
        margin: 0;
        font-size: 4vw !important;
        color: white !important;
    }

    .calculadora img {
        width: 20vw
    }

    .h1ProjetosHover {
        top: 0vw !important;
        left: 0vw !important;

        transform: rotate(0deg) !important;
    }

    .h1CliqueProjetos {
        transform: rotate(0deg) !important;
        left: 0vw !important;
        top: 0vw !important;
        font-size: 5vw !important;
        border-bottom: 1px solid white;
        box-shadow: 1px 13.5px 16px -8px white;
    }

    /* fim projetos */
}



/* FIM SECTION 1 */

/* SECTION 2 */
.principal {
    padding-top: 10vw;
    margin-left: 10vw;
    gap: 10vw;
    display: flex;
    transition: all 0.5s linear;
}

.principal h1 {
    font-size: 4vw;

    font-family: Code;
    color: #fae8b2;

}

.principal h2 {
    font-family: Louis;
    font-size: 4vw;

    color: #c84b31;
}


.principal img {

    border-radius: 30%;
    width: 20vw;

    filter: brightness(70%);
    z-index: 0;
}


@media (max-width:780px) {}



.neonPerfil,
.neonPerfil2,
.neonPerfil3,
.neonPerfil4,
.neonPerfil5,
.neonPerfil6,
.neonPerfil7,
.neonPerfil8 {
    position: absolute;
    width: 1vw;
    height: 0.3vw;
    top: 10.6vw;
    right: 15vw;
    border-radius: 5px;
    background-color: #fae8b2;
    transform: rotate(135deg);

    -webkit-box-shadow: 3px 3px 15px 0 #FADDB8;
    -moz-box-shadow: 3px 3px 15px 0 #FADDB8;
    box-shadow: 3px 3px 15px 0 #FADDB8;
    transition: all 0.2s linear;
    visibility: hidden;
}


.neonPerfil:hover,
.neonPerfil2:hover,
.neonPerfil3:hover,
.neonPerfil4:hover,
.neonPerfil5:hover,
.neonPerfil6:hover,
.neonPerfil7:hover,
.neonPerfil8:hover {
    scale: 2;
}

.neonRosa {
    animation: moveLinhaRosa 20s linear infinite reverse;
}

.neonAzul {
    animation: moveLinhaAzul 20s linear infinite;
}

@keyframes moveLinhaRosa {

    0% {
        width: 1vw;
        z-index: 1;

    }

    15% {
        width: 3vw;
        /* transform: rotate(135deg); */
    }

    30% {
        transform: rotate(-10deg);
        top: 25vw;
        right: 31vw;
        width: 2vw;
        background-color: #FADDB8;
        -webkit-box-shadow: 3px 3px 15px 0 #FADDB8;
        -moz-box-shadow: 3px 3px 15px 0 #FADDB8;
        box-shadow: 3px 3px 15px 0 #FADDB8;
        /* height: 0.4vw; */

    }

    40% {
        z-index: -1;

    }

    50% {
        top: 20vw;
        right: 15vw;
        z-index: -1;
        width: 1vw;
        background-color: #74f3ff;
        -webkit-box-shadow: 3px 3px 15px 0 #74f3ff;
        -moz-box-shadow: 3px 3px 15px 0 #74f3ff;
        box-shadow: 3px 3px 15px 0 #74f3ff;
    }

    54% {
        transform: rotate(50deg);
        z-index: 1;
    }

    60% {
        width: 5vw;

    }

    75% {
        background-color: #ff78db;
        -webkit-box-shadow: 3px 3px 15px 0 #ff78db;
        -moz-box-shadow: 3px 3px 15px 0 #ff78db;
        box-shadow: 3px 3px 15px 0 #ff78db;
        top: 35vw;
        right: 36vw;
        width: 1vw;


    }

    82% {

        z-index: -1;

    }

    95% {

        z-index: -1;
    }

    100% {
        background-color: #ff78db;
        -webkit-box-shadow: 3px 3px 15px 0 #ff78db;
        -moz-box-shadow: 3px 3px 15px 0 #ff78db;
        box-shadow: 3px 3px 15px 0 #ff78db;
        width: 1vw;
        height: 0.3vw;
        z-index: -1;
        top: 10.6vw;
        right: 15vw;
    }
}

@keyframes moveLinhazul {

    0% {
        width: 1vw;

        z-index: 2;
    }

    25% {

        transform: rotate(-270deg);
        width: 5vw;
    }

    50% {

        top: 39vw;
        right: 26vw;
        width: 0vw;
        background-color: #FADDB8;
        -webkit-box-shadow: 3px 3px 15px 0 #FADDB8;
        -moz-box-shadow: 3px 3px 15px 0 #FADDB8;
        box-shadow: 3px 3px 15px 0 #FADDB8;
        /* height: 0.5vw; */
    }

    100% {
        width: 1vw;
        height: 0.2vw;
        z-index: 1;
        top: 10.6vw;
        right: 15vw;
    }
}

@media (max-width: 780px) {
    .principal {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0vw;
        padding-top: 30vw;

    }

    .principal h1 {
        font-size: 6vw;
    }

    .principal h2 {
        font-size: 6vw;
    }

    .principal img {
        width: 46vw;
    }

    .neonPerfil,
    .neonPerfil2,
    .neonPerfil3,
    .neonPerfil4,
    .neonPerfil5,
    .neonPerfil6,
    .neonPerfil7,
    .neonPerfil8 {
        top: 80vw;
        right: 22vw;
        width: 10vw;
        height: 1vw;
        visibility: hidden;
    }





    @keyframes moveLinhaRosa {

        0% {
            width: 10vw;
            z-index: 1;

        }

        15% {
            width: 10vw;

            background-color: #74f3ff;
            -webkit-box-shadow: 3px 3px 15px 0 #74f3ff;
            -moz-box-shadow: 3px 3px 15px 0 #74f3ff;
            box-shadow: 3px 3px 15px 0 #74f3ff;
            /* transform: rotate(135deg); */
        }

        30% {
            transform: rotate(-10deg);
            top: 90vw;
            right: 70vw;
            width: 5vw;
            background-color: #ff78db;
            -webkit-box-shadow: 3px 3px 15px 0 #ff78db;
            -moz-box-shadow: 3px 3px 15px 0 #ff78db;
            box-shadow: 3px 3px 15px 0 #ff78db;
            /* height: 0.4vw; */

        }

        40% {
            z-index: -1;

        }

        50% {
            top: 110vw;
            right: 25vw;
            z-index: -1;
            width: 3vw;
            background-color: #74f3ff;
            -webkit-box-shadow: 3px 3px 15px 0 #74f3ff;
            -moz-box-shadow: 3px 3px 15px 0 #74f3ff;
            box-shadow: 3px 3px 15px 0 #74f3ff;
        }

        54% {
            transform: rotate(50deg);
            z-index: 1;
        }

        60% {
            width: 15vw;

        }

        75% {
            background-color: #ff78db;
            -webkit-box-shadow: 3px 3px 15px 0 #ff78db;
            -moz-box-shadow: 3px 3px 15px 0 #ff78db;
            box-shadow: 3px 3px 15px 0 #ff78db;
            top: 125vw;
            right: 75vw;
            width: 3vw;


        }

        82% {

            z-index: -1;

        }

        95% {

            z-index: -1;
        }

        100% {
            /* background-color: #ff78db;
            -webkit-box-shadow: 3px 3px 15px 0 #ff78db;
            -moz-box-shadow: 3px 3px 15px 0 #ff78db;
            box-shadow: 3px 3px 15px 0 #ff78db; */
            width: 10vw;
            /* height: 0.2vw; */
            z-index: -1;
            top: 80vw;
            right: 22vw;
        }
    }

}



/* SCROLL REVEAL */

/* #sobre,
#projetos,
#carreira,
#visao,
.principal {
    visibility: hidden;
} */